<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#eef1f3">
    <meta name="description" content="Nito Cash is the most user-friendly, privacy shielding wallet for crypto newcomers.">

    <title>Nito.cash — Hush Your Money™</title>

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicons -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <link rel="apple-touch-icon" href="icons/192x192.png"> -->

    <!-- Open graph -->
    <meta property="og:url" content="https://nito.cash" />
    <meta property="og:title" content="Nito.cash">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Nito Cash is the most user-friendly, privacy shielding wallet for crypto newcomers.">
    <meta property="og:image" content="https://nito.cash/poster.jpg?1580211230">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nito.cash">
    <meta name="twitter:description" content="Nito Cash is the most user-friendly, privacy shielding wallet for crypto newcomers.">
    <meta name="twitter:image" content="https://nito.cash/poster.jpg?1580211230">

    <!-- Apple startup screen -->
    <link href="splash/640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="splash/750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="splash/1242x2208.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
    <link href="splash/1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
    <link href="splash/828x1792.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="splash/1242x2688.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
</head>

<body>

<noscript>
    <strong>We're sorry but nito.cash doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

<!-- BITBOX for Bitcoin Cash (https://developer.bitcoin.com/bitbox) -->
<script src="./js/bitbox.js"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.modenero.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
